.idea
.idea_modules/
.npm
*.log
npm-debug.log*
protected/runtime/*
!protected/runtime/.htaccess
tests/_output/*
protected/config/*local.php
www/build
www/build/*
www/content/*
www/protected/*
www/docs
www/runtime
www/index.html
/db
node_modules
/mongodb/*
/redis/*
/stand_config
www/api-config.json
.env
docker-compose.override.yml
